<app-header></app-header>

<mat-expansion-panel class="input-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Bid Listing by product-id
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="input-form">
    <mat-form-field>
      <input matInput [(ngModel)]="productId" name="productId" type="text" placeholder="Enter product id">
    </mat-form-field>
    <div class="submit-btn-wrapper">
      <button mat-button (click)="getBidList()">Get List - {{ productId}}</button>
    </div>
  </div>
</mat-expansion-panel>
<div *ngIf="bidList.length != 0">
  <table mat-table [dataSource]="bidList" class="c-form">
    <ng-container matColumnDef="startingPrice">
      <mat-header-cell *matHeaderCellDef>
        <h4>Bid Price</h4>
      </mat-header-cell>
      <mat-cell *matCellDef="let bid">{{ bid.bidAmount }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="shortDesc">
      <mat-header-cell *matHeaderCellDef>
        <h4>Short Description</h4>
      </mat-header-cell>
      <mat-cell *matCellDef="let bid">{{ bid.product.shortDescription }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="detailDesc">
      <mat-header-cell *matHeaderCellDef>
        <h4>Detail Description</h4>
      </mat-header-cell>
      <mat-cell *matCellDef="let bid">{{ bid.product.detailDescription }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef>
        <h4>Category</h4>
      </mat-header-cell>
      <mat-cell *matCellDef="let bid">{{ bid.product.category }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="bidEndDate">
      <mat-header-cell *matHeaderCellDef>
        <h4>Bid End Date</h4>
      </mat-header-cell>
      <mat-cell *matCellDef="let bid">{{ bid.product.bidEndDate }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnHeader"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnHeader"></mat-row>
  </table>
</div>