<app-header></app-header>

<mat-expansion-panel class="input-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Bid Listing by product-id
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="input-form">
    <mat-form-field>
      <input matInput [(ngModel)]="productId" name="productId" type="text" placeholder="Enter product id">
    </mat-form-field>
    <div class="submit-btn-wrapper">
      <button mat-button (click)="getBidList()">Get List - {{ productId}}</button>
    </div>
  </div>
</mat-expansion-panel>